DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your_django_secret_key
ALLOWED_HOSTS=
DATABASE_URL=your_database_url
OPEN_WEATHER_API_KEY=your_open_weather_api_key
OPEN_WEATHER_DEFAULT_SEARCH_LIMIT=default_number_of_the_locations_in_the_response
OPEN_WEATHER_DEFAULT_UNITS=units_of_measurement